.headerWrapper {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    max-height: 70px;
    background: #001529;
}

.logo {
    color: #d7d7a7;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.loginBlock {}

.logout{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#d7d7a7;
}
.avatar{
    width: 35px;
    height: 35px;
    border-radius: 17px;
}