
.nav {
    padding: 20px;
    min-width: 150px;
    height: 100vh;
    background: #001529;

}

.item {
    margin: 10px;
}

.item a{
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #dddddd;
    text-decoration: none;
}
.item a:hover{
    background-color: #d7d7a7;
    color: #001529;
}

.activeLink {
    margin-left: 30px;
    background-color: rgba(138, 133, 133, 0.87);
    color: #001529;
}