.dialogs {
    display: flex;
    padding: 15px;
    gap: 15px;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 #dddddd;
}

.dialogsItems {
    border-radius: 15px;
    padding: 15px;
}
.messagesBlock{
    height: 500px;
    background-color: beige;
    color: #000;
}

.messages {
    padding: 50px;
}

.messages .message {
    margin: 10px 5px;
    color: #001529;

}

.avatar {
    width: 100px;
    max-height: 100px;
    border-radius: 50px;
}

.name{
    font-size: 20px;
    font-weight: bold;
}