.dialogs {
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 15px;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 #dddddd;
}

.dialogsItems {
    border-radius: 15px;
    padding: 15px;
}

.messages {
    padding: 50px;
}

.messages .message {
    color: white;
    border: 1px solid;
}

.avatar {
    width: 100px;
    max-height: 100px;
    border-radius: 50px;
}

.name{
    font-size: 20px;
    font-weight: bold;
}