.formControl.error input,
.formControl.error textarea {
    border: 2px solid red;
    outline: red;
}

.formControl.error span {
    color: red;
}

.formSummaryError {
    border: 1px solid red;
    padding: 5px;
    color: red;
}

.title{
    font-size: 16px;
    color: white;
}

.button_save{
    text-align: center;
}